:root {
    --gutter: 0.8rem;
  }

html {
  font-size: 62.5%;
}

body {
  margin: 5px 15px;
  background-color: beige;
}

                /* COMMONS */

.button {
  background-color: #874b1b;
  border-radius: 5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

                    /* INDEX */

.hide {
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 50px;

}

/* nav {
  position: relative;
} */

.menu {
  position: relative;
}

.menu.button {
  z-index: 10000;
  top: 0.8rem;
  height: 35px;
  width: 30px;
  background-image: url(../img/menu.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  background-color: beige;
  border-radius: 0;
}

.menu.list {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  background-color: #3e1e04;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 50vw;
  height: 100vh;
  text-align: start;
  align-content: center;
}

.menu.list.open {
 display: block;

}

.menu .button:hover {
  box-shadow: 1px 1px 5px #3e1e04;
}

.header span {
  color: #3e1e04;
  font-size: 1.5rem;
}

.header.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header.img {
  width: 50px;
  height: 50px;
}

ul { 
  list-style-type: none;
}

li {
  margin-bottom: 2rem;
}

li a {
  text-decoration: none;
  color: beige;
  font-size: 2rem;
  font-weight: 700;
}

#about {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-bottom: 50px;
}

#about img {
    width: 100%;
    height: auto;
    height: 30%;
}

.about.img--container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin-bottom: 2rem; 
  font-size: 1.5rem;
}

.news.article--name, .news.article--description {
  padding: 2rem 1rem 0rem 1rem;
}

.caroussel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.navigate {
  align-content: center;
}

.previousArrowButton, .nextArrowButton {
  width: 30px;
  height: 30px;
  background-image: url(../img/navigateArrow.png);
  background-size: 100%;
  border: none;
  background-color: beige;
}

.previousArrowButton:hover, .nextArrowButton:hover {
  box-shadow: 1px 1px 5px #3e1e04;
}

.previousArrowButton {
  transform: scaleX(-1);
}

.news .article {
  display: none;
}

.news.article--active {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-width: 2px;
  border-style: solid;
  width: 100%;
}

.news.button {
  margin: 0 45% 2rem;
}

                    /* CATALOG */

.catalog {
  position: relative;
  margin-bottom: 2rem;
}                    

.catalog h1 {
  position: absolute;
  top: 45%;
  left: 35%;
  font-size: 5rem;
  font-weight: 900;
  backdrop-filter: blur(2px);
}

.container.product {
  display: none;
}

.products.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.container.product.active {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  border: black solid 2px;
  padding: 2rem;
}

.product--button {
  background-color: #874b1b;
  border-radius: 5rem;
  text-align: center;
  line-height: 25px;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  padding: 0 1.5rem;
  align-self: flex-end;
}

.products.button {
  margin: 2rem 40% 2rem;
  height: 40px;
  width: 200px;
}