<section class="form container-admin">

    <form action="/contact/mailed">
      <label name="contactField" id="contactField" class="form label-field" aria-labelledby="Contact field"><h2> Information :</h2>
        <label name="emailField" id="mailField" class="form label" aria-labelledby="email field">Email</label>
        <input type="email" name="email" aria-label="email input" class="form input" required></input>
      </label>
      <input class="form button" id="emailButton" type="submit" value="Valider" aria-label="Submit email">
    </form>


</section>
